<div class="container" id="referente">

    <h1> Referente Azienda <i class="fas fa-user-tie"></i> </h1>

    <p> Info Referente:------><i class="fas fa-address-book"></i> Cliente: {{referente.ragioneSociale}} <br>
         Nome&Cognome: {{referente.nomeContatto}} {{referente.cognomeContatto}} <br>
         Telefono:{{referente.telefono}} <br> 
         Email: {{referente.email}} <br>
         
    </p>


    <button type="button" class="btn btn-success" routerLink="/platformazienda"><i class="fas fa-undo-alt"></i>Torna all'anagrafica
        Clienti</button>

</div>

