<h1> ARCHIVIO FATTURE <i class="fas fa-money-check-alt"></i> </h1>

<div class="container" id="archiviofatt">

    <div id="buttonInsolute">
        <button type="button" class="btn btn-warning btn-lg"routerLink="/platformazienda/fattureinsolute" >Fatture Da Saldare</button>
    </div>

    <div id="buttonSaldate">
        <button type="button" class="btn btn-success btn-lg mx-3"routerLink="/platformazienda/fatturesaldate" >Fatture Saldate</button>
    </div>

    <div id="buttonNewFattura">
        <button type="button" class="btn btn-info btn-lg"routerLink="/platformazienda/newfattura" >Nuova Fattura</button>
    </div>
</div>


