h1{
text-align: center;
margin-top:80px;
color: rgb(0, 0, 0);
background-color:rgba(255, 255, 255, 0.733);
width:100%;
border-radius:20%
}

#archiviofatt{
font-size:1.1rem;
line-height:1.4rem;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}

#archiviofatt div{
flex-grow: 1;
flex-basis: 55%;
}

