
    <div id="nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"routerLink='platformazienda/index'> Piattaforma Aziendale  <i class="fas fa-home"></i>  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" routerLink='platformazienda/index'>  | Login <i class="fas fa-key"></i></a>
          <a class="nav-link active" aria-current="page" href="#" routerLink='platformazienda'> | Anagrafica Clienti <i class="fas fa-users"> </i> </a>
          <a class="nav-link active" aria-current="page" href="#" routerLink='platformazienda/nuovocliente'> | Aggiungi Nuovo Cliente <i class="fas fa-user-plus"></i> </a>
          <a id="fattureins" class="nav-link active" aria-current="page" href="#" routerLink='platformazienda/archiviofatture'> | Archivio Fatture <i class="fas fa-money-check-alt"></i> </a>
          
        </div>
      </div>
    </nav>
    </div>
  
