<div class="container">
  
  
  <div id="login">
    <h1>Login Azienda</h1>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Your Email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter Your Password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     </mat-form-field> <br>
      <button mat-raised-button color="primary">  Login <i class="fas fa-key"></i> </button>
  </p>
  </div>

</div>