 body {
background-image: url(../../MRprogetto-finale/src/assets/img/platform-overview-sm-banner.jpg);
background-repeat: repeat;
height: 100%;
width: 100%;
background-size: cover;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
