<div id="login">
    <h1>Nuovo User <i class="fas fa-user-tie"></i>  </h1>

     <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input  matInput placeholder="Scegli il tuo UserName"[(ngModel)]="newUser.username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     </mat-form-field> <br>

     <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input  matInput placeholder="La tua Email"[(ngModel)]="newUser.email" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     </mat-form-field> <br>

     <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter Your Password"[(ngModel)]="newUser.password">
        <mat-icon  matSuffix>sentiment_very_satisfied</mat-icon>
     </mat-form-field> <br>


      <button mat-raised-button color="primary"(click)="addnewuser()"> Inserisci nuovo User <i class="fas fa-key"></i> </button> <br>
      <hr>
